ultralytics
roboflow
### If gpu acceleration is available, install proper torch version, this were used for RTX3060:
### First install compatible cuda version at: https://developer.nvidia.com/cuda-downloads
### Then check for torch compatible versions with the installed cuda at: https://pytorch.org
# torch==2.2.1+cu121 --index-url https://download.pytorch.org/whl/cu121
# torchaudio==2.2.1+cu121 --index-url https://download.pytorch.org/whl/cu121
# torchvision==0.18.1+cu121 --find-links https://download.pytorch.org/whl/torch_stable.html
opencv-python
depthai
